<div class='row'>

    <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
    </div>

    <div class="col-md-8">
        <h2> <%= @book.title %> </h2>
        <h3> <%= @book.author %> </h3>
        <p> <%= @book.description %> </p>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
  <!--Where the reviews/rating will go -->
  </div>


<%= link_to "Back", root_path %>

<% if user_signed_in? %>

    <% if @book.user_id == current_user.id %> <!--- if the books current user id is equivalent to the current user id we want links to appear!-->

        <%= link_to "Edit", edit_book_path(@book)  %>
        <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }  %>

    <% end %>

<% end %>